<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TemplateReport.Properties.Settings.ConnectionString"
            connectionString="Data Source=54.254.187.221;Initial Catalog=Tridion_Broker_NA_Reg_TCB;Persist Security Info=True;User ID=TridionBrokerUser;Password=prodbrokerdb@2011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OutputHTMLLocation" value="c:\Test.html"/>
  </appSettings>
</configuration>